<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
																	 initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
		<title>DB</title>
	</head>
	<body style="font-family: 'Fira Code', monospace;">
		<style type="text/css">
			.messages {
			display: flex;
			width: 90%;
			height: 50px;
			padding: 20px;
			align-items: center;
			vertical-align: middle;
			}

			.messages .message {
			width: 100%;
			padding: 10px;
			font-size: 25px;
			border: 2px solid #747474;
			border-radius: 10px;
			}

			.messages .error {
			color: white;
			background-color: #c42929;
			}

			.messages .msg {
			color: white;
			background-color: #84b023;
			}
			{% block style %}{% endblock %}
		</style>
		<div class="messages">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="message {{ category }}">
				{{ message }}
			</div>
			{% endfor %}
		</div>
		<div id="app">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
