{% extends "layout.html" %}
{% block content %}
<div class="login">
	<div class="form">
		<form action="/login" method="POST" enctype="application/json" role="form">
			{{ form.hidden_tag() }}
			<div class="username">
				{{ form.username.label() }}
				{{ form.username() }}
			</div>
			<div class="password">
				{{ form.password.label() }}
				{{ form.password() }}
			</div>
			<div class="submit">
				{{ form.submit() }}
			</div>
			<a href="{{ url_for("registration") }}">Not are you registrated else ?</a>
		</form>
	</div>
</div>
{% endblock content %}
{% block style %}
	* {
	font-size: 35px;
	color: #747474;
	}
	input, select, option {
	padding: 6px 11px 6px 11px;
	font-size: 25px;
	border: 2px solid #747474;
	border-radius: 10px;
	}
	.login {
	display: flex;
	width: 100%;
	align-items: center;
	}
	.form {
	width: 100%;
	align-items: center;
	}
	.form form {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	width: 60%;
	height: 500px;
	margin: auto;
	}
	.form form div {
	margin-bottom: 20px;
	}
	.form form .submit input {
	width: 190px;
	height: 50px;
	padding: 4px;
	text-align: center;
	background-color: white;
	border: 2px solid #747474;
	border-radius: 10px;
	transition: 0.2s;
	}
	.form form .submit input:hover {
	color: white;
	background-color: #747474;
	}
{% endblock style %}
