{% extends "layout.html" %}
{% block content %}
<div class="root">
	<h3>Data Base</h3>
	<ul>
		<li><a href="https://gitlab.com/sjohanns/medsystem">Git Lab
		Repository</a></li>
		<li><a href="mailto:tovstolaki62@gmail.com">Email of the Author</a></li>
	</ul>
</div>
{% endblock content %}
